node_modules
build/asset-manifest.json
build/index.html
build/static/css/main.b0d60881.css
build/static/css/main.b0d60881.css.map
build/static/js/main.08a6eccf.js
build/static/js/main.08a6eccf.js.LICENSE.txt
build/static/js/main.08a6eccf.js.map
build/static/media/bootstrap-icons.6d63d0501e5ed7b79dab.woff2
build/static/media/bootstrap-icons.4753c5ba57962b4d7bf8.woff
build/static/media/Fashion Magazine.8b44612cab2f1f750687.jpeg
build/static/media/nicolRider.b3df0cc9d5b418187914.jpg
build/static/media/projects.7494250a6a88ec9c9a50.jpeg
build/static/media/webpage1.98162a732745ec85381c.jpeg
