.App {
  font-family: sans-serif;
  text-align: center;
}
.circle {
  border-radius: 50%;
    background-color: #eea302;
    height: 25px;
    width: 25px;
    border: 0;
    left: -5px;
    top: 6px;
    z-index: 9999;
    display: inline-block;
    position: relative;
}
/* .leftcontainer{
  float: left;
  width: 50%;
}
.rightcontainer{
  float: left;
  width:50%;
}
.headerleft{
  float:left;
  width:50%;
  padding:10px;
}
.headerright{
  float:left;
  width:50%;
} */
span.bold {
  font-weight: bold;
}
.logo-wrapper{
  line-height: 30px;
  position: relative;
}
.logo{
  font-size: 20px;
  display: inherit;
  float: left;
  line-height: normal;

  padding-right:10px;
}
span.h1 {
  font-weight: bold;
  font-size: 40px;
}
.pic {
  border-radius: 70%;
}
.resume {
  border-radius: 50%;
  background-color: #eea201;
  height: 120px;
  width: 120px;
  border: 1px solid #a6842c;
}
.projects {
  border-radius: 50%;
  background-color: #ff3d24;
  height: 120px;
  width: 120px;
  border: 1px solid #b04e44;
}
.contact {
  border-radius: 50%;
  background-color: #7fd8db;
  height: 120px;
  width: 120px;
  border: 1px solid #73aca7;
}
.vr{
  border-left: 2px solid black;
  
  top:0;
}
.nav-top li{
  float:left;
}

.nav-top li a{
  color:#1e1d1ddd;
  text-decoration: none;
  margin:5px;
  font-size:12px;
  border-right:1px solid #1e1d1ddd;
  padding-right:10px;
}

.nav-top li:last-child a{
  border-right:none;
}
hr.new1{
  border-top: 2px solid black;
  margin-top: 10em;

}
